.container{
     padding-top: 200px;
}
.my-modal {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
  }
.description-text{
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
    
}
.title{
    font-size: 42px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
    text-align:right;
}
.gallery-image {
  width: 500px;
  height: 300px;
}

 